.container
    .jumbotron
        h1 MEAN
        p Try username / password combos: admin / admin and guest / guest.
        | Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit. Sed augue orci, lacinia eu tincidunt et eleifend nec lacus. Donec ultricies nisl ut felis, suspendisse potenti. Lorem ipsum ligula ut hendrerit mollis, ipsum erat vehicula risus, eu suscipit sem libero nec erat. Aliquam erat volutpat. Sed congue augue vitae neque.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-messages'")
        .col-md-6
            div(ng-include="'/partials/main/new-messages'")